.card {
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 1rem;
    border-radius: 1rem;
}
.btn-info{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.btn-info .plus{
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: blue;
    color: white;
    cursor: pointer;
}